{
   "extends": ["airbnb", "prettier"],
   "plugins": ["react", "jsx-a11y", "import", "prettier", "react-hooks"],
   "rules": {
      "prettier/prettier": ["error"],
      "linebreak-style": "off",
      "react/jsx-filename-extension": "off",
      "semi": ["error", "always"],
      "comma-dangle": ["error", "never"],
      "import/no-extraneous-dependencies": "warn",
      "indent": ["error", 3],
      "react/jsx-indent": ["error", 3],
      "react/jsx-indent-props": ["error", 3],
      "react-hooks/rules-of-hooks": "error",
      "react/prop-types": [2, { "ignore": ["children"] }]
   },
   "env": {
      "jest": true,
      "browser": true
   }
}
